/* Réinitialisation des styles */
:root {
  --color-black: black;
  --color-white: white;
  --color-cadet: rgb(119, 158, 151);
  --color-vert: rgb(80, 117, 110);
  --color-dark-grey: rgb(64, 64, 64);
  --color-red: rgb(217, 149, 149);
  --color-flash: orange;
  --font-family-base: Avenir Next, Helvetica Neue, Helvetica, Arial, sans-serif;
  --font-family-title: Avenir Next Medium;
  --font-size-small: 1.2rem;
  --font-size-medium: 2rem;
  --font-size-large: 3.5rem;
  --header-logo-position: absolute;
  --header-padding: 1rem 0 0;

}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  #logo {
    width: 500px;
  }
  
  /* Styles généraux */
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: var(--color-cadet);
    background-color:var(--color-vert);
  }
  
  header {
    background-color: var(--color-cadet);
    color: #ffffff;
    padding: 1rem;
  }
  
  
  nav ul {
    background-color:var(--color-vert);
    padding: 1rem;
    position: relative;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
  }
  
  nav a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  nav a:hover {
    color: var(--color-flash);
  }
  
  main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
  }
  
  section {
    background-color: #fff;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-bottom: 1rem;
    color:v ar(--color-vert);
  }
  
  footer {
    background-color: var(--color-vert);
    color: #fff;
    text-align: center;
    padding: 1rem;
  }





  
  /* Styles spécifiques */

  #tasks ul {
    list-style-type: none;
  }
  
  #tasks li {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  #tasks li input[type="checkbox"] {
    margin-right: 0.5rem;
  }
  
  #shopping ul {
    list-style-type: none;
    columns: 2;
  }
  
  #meals ul {
    list-style-type: none;
  }
  
  #meals li {
    margin-bottom: 0.5rem;
  }
  
  #todo ul {
    list-style-type: none;
  }
  
  #todo li {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  #todo li input[type="checkbox"] {
    margin-right: 0.5rem;
  }
  
  #payments ul {
    list-style-type: none;
  }
  
  #payments li {
    margin-bottom: 0.5rem;
  }
  
  #payments li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  #payments li a:hover {
    color: #666;
  }
  
  #calendar {
    position: relative;
    padding-bottom: 75%; /* Ratio 4:3 */
    height: 0;
    overflow: hidden;
  }
  
  #calendar iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  #budget table {
    width: 100%;
    border-collapse: collapse;
  }
  
  #budget th, #budget td {
    padding: 0.5rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  #budget th {
    background-color: #f2f2f2;
  }




  /*Tableau tache*/

  .taskTable {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }
  
  .taskTable th, #taskTable td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid var(--color-dark-grey);
  }
  
  .taskTable th {
    text-align: center;
    background-color: var(--color-cadet);
    color: var(--color-white);
    border-style:groove
  }
  
  .taskTable td {
    text-align: center;
    min-width: 120px;
    border-style: solid;
    color: var(--color-red);
  }
  
  .taskTable td:focus {
    background-color: var(--color-cadet);
    outline: none;
    color: var(--color-white);
  }

  /*Shopping*/

  #shoppingTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
  }
  
  #shoppingTable th, #shoppingTable td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #a42e2e;
  }
  
  #shoppingTable th {
    background-color: #f2f2f2;
  }
  
  #shoppingTable td {
    min-width: 120px;
  }
  
  #addRowBtn {
    margin-top: 1rem;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .collapsed {
    display: none;
  }


/*Menu déroulant*/

.accordion {
  width: 100%;
}

.accordion-button {
  background-color: #f1f1f1;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.accordion-button:hover {
  background-color: #ddd;
  display: block;
}

.accordion-content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f9f9f9;
}
