/* Réinitialisation des styles */
:root {
    --color-black: black;
    --color-white: white;
    --color-cadet: rgb(119, 158, 151);
    --color-vert: rgb(80, 117, 110);
    --color-dark-grey: rgb(64, 64, 64);
    --color-red: rgb(217, 149, 149);
    --color-flash: orange;
    --font-family-base: Avenir Next, Helvetica Neue, Helvetica, Arial, sans-serif;
    --font-family-title: Avenir Next Medium;
    --font-size-small: 1.2rem;
    --font-size-medium: 2rem;
    --font-size-large: 3.5rem;
    --header-logo-position: absolute;
    --header-padding: 1rem 0 0;
  
  }

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--color-vert);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-container {
    width: 350px;
    background-color: var(--color-cadet);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.txt {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.plume {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;

}
.login-container h2 {
    text-align: center;
    margin-bottom: 30px;
    color: var(--color-vert);
    font-family: var(--font-family-title);
    font-size: var(--font-size-medium);
}
.login-container input[type="text"], .login-container input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}
.login-container input[type="Email"], .login-container input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}
.login-container input[type="submit"] {
    width: 100%;
    background-color: var(--color-flash);
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.login-container input[type="submit"]:hover {
    background-color: var(--color-vert);
}


.login-container input[type="create-account"] {
    width: 50%;
    text-align: center;
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-flash);
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.login-container input[type="create-account"]:hover {
    background-color: var(--color-vert);
}

.already {
    text-align: center;
    margin-top: 20px;
    color: var(--color-white);
}

.login {
    color: var(--color-flash);
}